<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Denis_AdminPractice::settingcurrencies" title="Currency"
            module="Denis_AdminPractice" sortOrder="51" 
            resource="Denis_AdminPractice::settingcurrencies"/>
        <add id="Denis_AdminPractice::settingcurrencies_configuration" title="Configuration" 
            module="Denis_AdminPractice" sortOrder="99" 
            parent="Denis_AdminPractice::settingcurrencies" 
            action="adminhtml/system_config/edit/section/settingcurrencies" 
            resource="Denis_AdminPractice::settingcurrencies_configuration"/>
        
        <add id="Denis_AdminPractice::balancestatus" title="Balance Status"
            module="Denis_AdminPractice" sortOrder="51" 
            resource="Denis_AdminPractice::balancestatus"/>
        <add id="Denis_AdminPractice::balancestatus_configuration" title="Configuration" 
            module="Denis_AdminPractice" sortOrder="99" 
            parent="Denis_AdminPractice::balancestatus" 
            action="adminhtml/system_config/edit/section/balancestatus" 
            resource="Denis_AdminPractice::balancestatus_configuration"/>
    </menu>
</config>