<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="denis" translate="label" sortOrder="10">
            <label>Denis</label>
        </tab>
        <section id="settingcurrencies" translate="label" sortOrder="130"
            showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Currency</label>
            <tab>denis</tab>
            <resource>Denis_AdminPractice::settingcurrencies_config</resource>
            <group id="general" translate="label" type="text"
                sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select"
                    sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="uah" translate="label" type="select"
                    sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>UAH</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="uah_course" translate="label" type="text"
                    sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Course</label>
                </field>
                <field id="rub" translate="label" type="select"
                    sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>RUB</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="rub_course" translate="label" type="text"
                    sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Course</label>
                </field>
                <field id="euro" translate="label" type="select"
                    sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>EURO</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="euro_course" translate="label" type="text"
                    sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Course</label>
                </field>
            </group>
        </section>
    </system>
</config>