<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Denis_EAVtasktwo::afo" title="Air Freight Only"
            module="Denis_EAVtasktwo" sortOrder="51" 
            resource="Denis_EAVtasktwo::afo"/>
        <add id="Denis_EAVtasktwo::afo_configuration" title="Configuration" 
            module="Denis_EAVtasktwo" sortOrder="99" 
            parent="Denis_EAVtasktwo::afo" 
            action="adminhtml/system_config/edit/section/afo" 
            resource="Denis_EAVtasktwo::afo_configuration"/>
    </menu>
</config>